@import '../../style/colors.scss';

.panel-screen {
    border-radius: 5px;
    height: 20vmin;
    border: 2px solid rgba(0,0,0,0.7);
    position: relative;
    color: $screen-text;
}

.panel-screen--light-on {
    background-color: $screen-light-on;
}

.panel-screen--light-off {
    background-color:  $screen-light-off;
}

@media screen and (max-width:750px){
    .panel-screen{
     height: 30vmin;
    }
   }

   