.panel-screen {
    border-radius: 5px;
    height: 20vmin;
    border: 2px solid rgba(0,0,0,0.7);
    position: relative;
    color: #434343;
   
    &__status{
        font-size: 1.4rem;
        position: absolute;
        top: 1rem;
        left:.6rem;
    }

    &__message{
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 1.5;
        position: absolute;
        bottom: 1.3rem;
        right: 1.9rem;
    }
}

.panel-screen--light-on {
    background-color: #7fffff;
}

.panel-screen--light-off {
    background-color:  #47b2b2;
}

@media screen and (max-width:750px){
    .panel-screen{
     height: 30vmin;
    }
   }

   