.panel-button {
    justify-self: center;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #63636e;
    border: 1px solid black;
    box-shadow: 2px 2px 4px rgba(0,0,0,.8);
    font-size: 2.5rem;
    font-weight: 500;
    color: #f3f3f3;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto Mono';

    &:active{
        transform: translateY(2px);
        box-shadow: 0 0 0 transparent;
    }
}

@media screen and (max-width:750px){
    .panel-button{
     height: 50px;
     width: 50px;
    }
}

@media screen and (max-width:500px){
    .panel-button{
        height: 70px;
        width: 70px;
    }
}