@import './colors.scss';

.panel {
  position: relative;
  background-color: $panel-body;
  width: 480px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  padding: 3.5rem;
}

@media screen and (max-width:1024px){
  .panel{
   width: 510px;
   padding: 4.5rem;
  }
 }

@media screen and (max-width:750px){
 .panel{
  width: 380px;
 }
}

@media screen and (max-width:400px){
  .panel{
   width: 300px;
  }
 }



