
.panel {
  position: relative;
  background-color: #7d7d7f;
  min-width: 25vw;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  padding: 2.5rem;
}


@media screen and (max-width:1024px){
  .panel{
   width: 45vw;
  }
 }




@media screen and (max-width:750px){
 .panel{
  width: 80vw;
 }
}




