
.panel {
  position: relative;
  background-color: #7d7d7f;
  width: 480px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  padding: 2.5rem;
}


@media screen and (max-width:1024px){
  .panel{
   width: 510px;
  }
 }




@media screen and (max-width:510px){
 .panel{
  width: 380px;
 }
}

@media screen and (max-width:400px){
  .panel{
   width: 300px;
  }
 }



